.DS_Store
.bundle
.history
.devcontainer
.vscode
*.env
*.log
*.txt
.*.json
!LICENSE.txt
!spec/fixtures/*.txt
.ruby-version
appendonlydir
data/
etc/config
log
tmp
vendor
*.gem
.ruby-lsp
.rspec_status
.mcp.json
.claude
.serena
